*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    color: #1e3a5f;
    overflow-x: hidden;
}


/* Header */

header {
    display: flex;
    width: 100%;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

.logo {
    font-size: 24px;
    font-weight: 300;
    color: #1e3a5f;
    font-style: italic;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #1e3a5f;
    font-size: 14px;
}

.btn-primary {
    background: #4a7fc1;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

 
.div_left{
    display: flex;
    gap: 40px;
    align-items: center;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }

    header{
        padding: 15px 27px;
    }
}


/* Hero Section */
.hero {
    height: 210px;
    background: url("./images/hero1.png") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;

     -webkit-mask-image: linear-gradient(to bottom, white 60%, transparent 100%);

}

.content {
    max-width: 700px;
    text-align: center;
   
    margin: 25px auto 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 400;
    color: #1e3a5f;
    margin-bottom: 20px;
    line-height: 1.3;
}

.hero p {
    font-size: 16px;
    line-height: 1.6;
    color: #4a5f7f;
}

.btn-large{
    background: #4a7fc1;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    width: 250px;
    align-self: center;
}

@media (max-width: 600px) {
    .content h1 {
        font-size: 20px;
    
    }

    .content p {
    font-size: 10px;
    line-height: 1.6;
    color: #4a5f7f;
}
}


/* FEATURES  */

.featuress {
    padding: 80px 40px;

    
}

.featuress h2{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 60px;
    color: #1e3a5f;
}

.features{
    display: flex;
    justify-content: center;

}

.feature-item {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fs{
    width: 50px;
    height: 50px;
    font-size: 25pt;
    
}

.info h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #1e3a5f;
}

.info p{
     font-size: 15px;
     line-height: 1.6;
     color: #5a6f8f;
    margin-bottom: 15px;
    width: 200PX;
}

@media (max-width: 600px) {
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.featuress h2{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    color: #1e3a5f;
}

}


/* IMAGE SECTION   */

.image_section{
    width: 100%;
    height:500px;
    background: url("/images/igmm.png") no-repeat center/cover;
}

/* testimonials SECTION   */

.testimonials{
    padding: 40px 80px;
    background: #f0f4fa;
   padding-top: 40px;
    
}

.testimonials h2{
   text-align: center;
   font-size: 32px;
   font-weight: 400;
   margin-bottom: 40px;
   color: #1e3a5f;
}


.testimonials-flex{
    display: flex;
    gap: 30px;
    overflow-x: auto;              
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 1rem;
    scrollbar-width: none;
}

.testimonials-flex::scroll-button(right),
.testimonials-flex::scroll-button(left) {
    border: none;
    background-color: rgb(73, 3, 138);
    font-family: Consolas;
    font-size: 2rem;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
         
    margin: 0 10px;
}

 
.testimonials-flex::scroll-button(left) {
    content: '←';
}

 
.testimonials-flex::scroll-button(right) {
    content: '→';
}

 
.testimonials-flex::scroll-button(left):disabled,
.testimonials-flex::scroll-button(right):disabled {
    opacity: 0.4;
    cursor: default;
}




.testimonial-card{
    background: linear-gradient(135deg, #4a7fc1 0%, #667eea 100%);
    padding: 40px;
    border-radius: 20px;
    color: white;
    text-align: left;
    min-width: 400px;
    scroll-snap-align: start;
}

.testimonial-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonial-author {
    font-size: 10px;
    opacity: 0.9;
    margin-bottom: 10px;
}

.stars {
    color: #ffd700;
    font-size: 18px;
}

.fa-code-merge{
    font-size: 40px;
    margin-bottom: 15px;
    color:  #64a1f0;
}

@media (max-width: 600px) {

.testimonials-flex{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.testimonials h2{
   text-align: center;
   font-size: 20px;
   font-weight: 400;
   margin-bottom: 40px;
   color: #1e3a5f;
}

.testimonials{
    padding: 40px 30px;
    background: #f0f4fa;
   padding-top: 40px;
    
}

.testimonial-card{

    min-width: 300px;
   
}



}


/* premium section */


.premium-section {
    width: 100%;
    height: 100vh;
    background: url("./images/cont1.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    color: #2c2c2c;
    font-family: Arial, sans-serif;
}

 
.content-box {
    max-width: 600px;
}

 
.content-box h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1e3a5f;
}

 
.plan-box {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 18px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.plan-box .left {
    text-align: left;
}

.plan-box .left span {
    display: block;
    font-size: 12px;
    color: #555;
}

.plan-box .badge {
    position: absolute;
    top: -12px;
    right: 90px;
    background: #6d4ff6;
    color: white;
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 600;
}

.plan-box .right {
    font-size: 16px;
    font-weight: bold;
}

 
.info {
    font-size: 12px;
    color: #444;
    margin-bottom: 25px;
    line-height: 1.5;
}

.info a {
    color: #2e5cff;
    text-decoration: none;
}

 
.btn {
    width: 60%;
    padding: 12px;
    background: linear-gradient(90deg, #5867f9, #7e55ff);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

/* Footer */

 
.footer {
    background: #0c1b4c;
    color: #fff;
    padding: 50px 60px;
    margin-top: 50px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-flex h4 {
    margin-bottom: 10px;
}

.footer-flex a {
    display: block;
    text-decoration: none;
    color: #cfd8f3;
    margin-bottom: 6px;
}

.copy {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
}

@media (max-width: 600px) {

.footer-flex {
    display: flex;
   flex-direction: column;
    gap: 40px;
}
}
 